!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
= render :partial => 'head'
%body{ :lang => 'en', :class => "#{app :name}" }
  #container
    %header#header
      = render :partial => 'header'
    #main{ :role => 'main' }
      = render :partial => 'flashes'
      = yield
    %footer#footer
      = render :partial => 'footer'
  -# Javascript at the bottom for fast page loading
  = render :partial => 'javascripts' 
